* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #0b0f1a;
  color: #eae6ff;
}

header {
  text-align: center;
  padding: 25px;
  background: #141a2a;
  border-bottom: 2px solid #6c5ce7;
}

header h1 {
  color: #a29bfe;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 30px auto;
}

/* RECIPE CARDS */
.card {
  display: block;
  background: #141a2a;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
  text-decoration: none;
  color: white;
  border: 1px solid #2d2f55;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.02);
  border-color: #6c5ce7;
}

/* RECIPE PAGE */
.recipe {
  background: #141a2a;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #2d2f55;
}

.recipe h2 {
  color: #a29bfe;
  margin-top: 15px;
}

ul {
  margin-left: 20px;
  margin-top: 10px;
}

.back {
  display: inline-block;
  margin-top: 20px;
  color: #a29bfe;
  text-decoration: none;
}

.back:hover {
  text-decoration: underline;
}
